:root {
  --text-color: black;
  --border-color: black;
}

.invalidInput {
  --text-color: red;
  --border-color: red;
}

body {
    background-color:rgb(255, 233, 250);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPageText
{
  font-family: "Gill Sans", sans-serif;
  font-variant: small-caps;
}

h1.mainPageText {
    padding-top: 10%;
    margin-top: 0;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 100px;
}

textarea.textInputField {
  height: 260px;
  width: 30%;
  margin-top: 2%;
  border-radius: 50px;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  color: var(--text-color);
  background-color: #ffffff;
  resize: none;
  font-size: 24px;
  text-align: left;
  padding: 1.1%;
}

textarea.textInputField:focus {
  outline-color: var(--border-color);
}

label.characterCounter {
  width: 30%;
  margin-top: 5px;
  font-size: 19px;
  text-align: right;
  color: var(--text-color);
}

