:root {
  --text-color: black;
  --border-color: black;

  --text-area-width: 30%;
  --text-area-height: 300px;
}

.invalidInput {
  --text-color: red;
  --border-color: red;
}

body {
    background-color:rgb(255, 233, 250);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.mainPageText
{
  font-family: "Gill Sans", sans-serif;
  font-variant: small-caps;
}

h1.mainPageText {
    padding-top: 10%;
    margin-top: 0;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 100px;
}

.textInputArea {
  margin: 5%;
}

.textInputBack { 
  height: var(--text-area-height);
  width: 30%;
  border-radius: 50px;
  border: 2px solid var(--border-color);
  background-color: #ffffff;
}

textarea.textInputField {
  height: 70%;
  width: 90%;
  color: var(--text-color);
  border:none;
  resize: none;
  font-size: 30px;
  text-align: left;
}

textarea.textInputField:focus {
  outline: none;
}

label.characterCounter {
  width: 90%;
  margin-top: 5px;
  font-size: 19px;
  text-align: right;
  color: var(--text-color);
}